/* ✅ Import both fonts at the top */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

@import "tailwindcss";

@theme {
  --color-main-color: rgb(255, 255, 255, 1);
  --color-subColor: rgb(166, 0, 55);
  --color-accentColor: rgb(15, 163, 52);
  --font-roboto: "Roboto", sans-serif;
  --font-parisienne: "Parisienne", cursive;
  --font-inter: "Inter", sans-serif;
  --spacing-maxAppWidth: 1280px;
  --spacing-headerBarBig: 80px;
  --spacing-headerBarSmall: 60px;
  --spacing-heroDownBar: 100px;
}

@layer base {
  :root {
    --heroDownBar: 100px;
  }
  html {
    scroll-behavior: smooth;
    width: 100vw;
   }
  body {
    font-family: var(--font-roboto);
    min-height: 100vh;
    width: 100vw;
    color: black;
  }
  h2 {
    @apply text-3xl font-bold;
  }
}

@layer components {
  #root {
    min-height: 100vh;
    width: 100vw;
    @apply bg-main-color;
    
   }

  @keyframes slideDown {
    0% {
      transform: scaleY(0);
    }

    80% {
      transform: scaleY(1.2);
    }

    100% {
      transform: scaleY(1);
    }
  }

  .animate-slideDown {
    animation: slideDown 0.5s ease-in-out forwards;
  }

  .mobile-menu-closed {
    transition: 0.4s ease;
    transform: scaleY(0);
    @apply absolute z-10 w-full origin-top;
  }

  .mobile-menu-open {
    transition: 0.4s ease;
    transform: scaleY(1);
    @apply bg-main-color absolute top-16 left-0 z-10 h-screen w-full origin-top space-y-6 py-3 text-xl font-bold;
  }
}

/* 
  Tailwind CSS Default Breakpoints (Mobile First)

  sm   => 640px   // Small devices (phones landscape)
  md   => 768px   // Medium devices (tablets)
  lg   => 1024px  // Large devices (laptops)
  xl   => 1280px  // Extra large devices (desktops)
  2xl  => 1536px  // Very large desktops (big monitors)

  Usage Example:
  .text-base          // default (mobile)
  sm:text-lg          // ≥ 640px
  md:text-xl          // ≥ 768px
  lg:text-2xl         // ≥ 1024px
  xl:text-3xl         // ≥ 1280px
  2xl:text-4xl        // ≥ 1536px
*/
